﻿@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-md-8">
        <h2 class="h3 mb-4 text-gray-800">Sınav Kayıtları</h2>
        <table class="table" id="tbWorkList">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>Başlık</th>
                    <th>Tamamlanma</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h2 class="h3 mb-4 text-gray-800">Sınav Ekle Düzenle</h2>
        <div class="mb-2">
            <label>Başlık</label>
            <input type="text" class="form-control" id="txtTitle" />
        </div>
        <div class="mb-2">
            <label>Açıklama</label>
            <textarea type="text" rows="3" class="form-control" id="txtDescription"></textarea>
        </div>
        <div class="mb-2">
            <input type="hidden" id="txtId" />
            <a id="btnCancel" class="btn btn-danger btn-circle" title="Vazgeç"><i class="fas fa-arrow-left"></i></a>
            <a id="btnSave" class="btn btn-primary btn-circle ml-1" title="Kaydet"><i class="fas fa-save"></i></a>
            <a href="#" class="btn btn-danger btn-circle delete" title="Sil" id="btnDelete">
                <i class="fas fa-trash"></i>
            </a>
        </div>

        <div class="alert" id="divResult"></div>
    </div>
</div>




@section Scripts {
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>

    <script>
        $(document).ready(function () {
            var token = localStorage.getItem("token");
            if (token == "" || token == null) {
                location.href = "/Home/Login";
                return false;
            }

            var ApiBaseUrl = "@ViewBag.ApiBaseUrl";
            GetWorkList();



            $("#tbWorkList tbody").sortable({
                placeholder: "bg-secodary",
                axis: "y",
                handle: '.move',
                cancel: '',
                update: function (event, ui) {
                    var ids = new Array();

                    $("#tbWorkList tbody tr").each(function () {
                        ids.push($(this).attr("id"));

                    });
                    WorkSort(ids);
                }
            });

            function WorkSort(ids) {

                $.ajax({
                    url: ApiBaseUrl + "Work/WorkOrderAjax",
                    type: "POST",
                    contentType: "application/json",
                    headers: {
                        "Authorization": "Bearer " + token
                    },
                    data: JSON.stringify(ids),
                    success: function () {
                        GetWorkList();
                    },
                    error: function () { }
                });

            }

            $("#btnSave").click(function () {
                var title = $("#txtTitle").val();
                var description = $("#txtDescription").val();
                var id = $("#txtId").val();

                if (title == "" || description == "") {
                    $("#divResult")
                        .show()
                        .removeClass()
                        .addClass("alert alert-danger")
                        .html("Tüm Alanları Doldurunuz!")
                        .fadeOut(5000);
                    return false;
                }
                var work = new Object();
                work.Title = title;
                work.Description = description;
                work.Id = id;
                var ajaxMetod = "";
                if (id == 0) {
                    ajaxMetod = "POST";

                }
                else {
                    ajaxMetod = "PUT";
                }
                $.ajax({
                    url: ApiBaseUrl + "Work",
                    method: ajaxMetod,
                    data: JSON.stringify(work),
                    headers: {
                        "Authorization": "Bearer " + token
                    },
                    contentType: "application/json",
                    success: function (data) {
                        if (data.status) {
                            $("#divResult")
                                .show()
                                .removeClass()
                                .addClass("alert alert-success")
                                .html(data.message)
                                .fadeOut(5000);
                            GetWorkList();
                        } else {
                            $("#divResult")
                                .show()
                                .removeClass()
                                .addClass("alert alert-danger")
                                .html(data.message)
                                .fadeOut(5000);
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });

            });






            function GetWorkList() {
                $.ajax({
                    url: ApiBaseUrl + "Work",
                    method: "GET",
                    contentType: "application/json",
                    headers: {
                        "Authorization": "Bearer " + token
                    },
                    success: function (data) {
                        WorkDataToTable(data);
                    },
                    error: function () { }
                });
            }

            function WorkDataToTable(data) {
                $("#txtId").val("0");
                $("#btnDelete").hide();
                var tr = "";
                $.each(data, function (i, item) {
                    var bg = "";
                    if (item.score < 50) {
                        bg = "danger";
                    } else if (item.score >= 50 && item.score < 70) {
                        bg = "info";
                    } else {
                        bg = "success";
                    }
                    tr += `<tr id="${(item.id)}">
                            <td>${(i + 1)}</td>
                            <td>${item.title}</td>
                                   <td> <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 30px">
                                                                                                                                          <div class="progress-bar bg-${bg}" style="width: ${item.score}%">% ${item.score}</div>
                                                                </div></td>
                           <td><a href="#" class="btn btn-primary btn-circle move" title="Taşı">
                               <i class="fas fa-arrows"></i>
                               </a>                                                                                             <a href="/Home/WorkSteps/${item.id}" class="btn btn-primary btn-circle" title="Detay"> <i class="fas fa-search"></i>
                                </a>
                               <a href="#" class="btn btn-primary btn-circle edit" title="Düzenle Sil">
                               <i class="fas fa-pencil"></i>
                              </a>
                                </td>
                              </tr>`;
                });
                $("#tbWorkList tbody").empty();
                $("#tbWorkList tbody").append(tr);
            }



            $(document).on("click", ".edit", function () {
                var id = $(this).closest("tr").attr("id");
                $("#txtId").val(id);
                $("#btnDelete").show();
                $.ajax({
                    url: ApiBaseUrl + "Work/" + id,
                    method: "GET",
                    headers: {
                        "Authorization": "Bearer " + token
                    },
                    contentType: "application/json",
                    success: function (data) {
                        $("#txtTitle").val(data.title);
                        $("#txtDescription").val(data.description);
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });

            });

            $("#btnCancel").click(function () {
                $("#txtTitle").val("");
                $("#txtDescription").val("");
                $("#txtId").val("0");
                $("#btnDelete").hide();
            });

            $("#btnDelete").click(function () {
                var id = $("#txtId").val();
                $.ajax({
                    url: ApiBaseUrl + "Work/" + id,
                    method: "DELETE",
                    headers: {
                        "Authorization": "Bearer " + token
                    },
                    contentType: "application/json",
                    success: function (data) {
                        if (data.status) {
                            $("#divResult")
                                .show()
                                .removeClass()
                                .addClass("alert alert-success")
                                .html(data.message)
                                .fadeOut(5000);
                            GetWorkList();
                        } else {
                            $("#divResult")
                                .show()
                                .removeClass()
                                .addClass("alert alert-danger")
                                .html(data.message)
                                .fadeOut(5000);
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            });

        });
    </script>
}